.login-up
{ 
      width:700px;
      margin:auto; 

      border-radius:5px;
      background-color:#f3eeeebc; 
      text-align: center;
      padding:3px 50px; 
      margin-top:40px;
      padding-bottom:17px;
}
.text 
{
     font-size:12px;
     font-weight: bold;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      
}
.text.header 
{
    font-size:40px;
    margin-bottom:5px;
}
.button 
{
    width:400px; 
    padding:7px 2px; 
    margin-bottom:8px; 
    border:none;
    border-radius:3px; 
    font-weight:600; 
    color:white;
}
.button.deepblue
{
    background-color: blue;
}
.button.blue 
{
     background-color: rgb(47, 189, 245);
} 
.button:hover
{
    opacity:0.8;
} 
.hori-header 
{
    position:absolute;
    top:33%;  
    left:48%;
    width:40px;
    background-color:#f3eeeebc;
    font-size:15px; 
}
.hori-header.advance
{
    position:absolute;
    top:28%;  
    left:48%;
}
hr 
{
    border:0;
    background:#c2c2c2; 
    height:1px;
    position: relative;
    width:395px;
    left: 20%;
    margin:12px;
}
.get 
{
    width:384px; 
    padding:4px;
    margin-bottom:10px;
}
input[placeholder] 
{ 
    color:black; 
    font-weight:bold;   
}
.get:focus
{
    outline:none;
}
.last-term button
{
     border:none; 
     font-size:15px;
     color:rgb(50, 129, 174); 
     padding:0px;
}